

.container {
    /* background-color: red !important; */
    width : 100vw;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftScreen {
    min-width : 50%;
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #588157;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightScreen {
    min-width : 50%;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerImg{
    height : 60%;
}

.registerBox{
    height: 72%;
    width:57%;
    border-radius: 6px;
    /* border : 1px solid grey; */
    display : flex;
    flex-direction: column;
    padding: 1.5em;
    box-sizing: border-box;
    box-shadow: 0 0 14px 1px #adb5bd;
}

.signupSection {
    /* border : 1px solid red; */
    flex-basis: 80%;
    /* border-bottom: 1px solid grey; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.registerHeading {
    flex-basis: 5%;
    /* border : 1px solid red; */
    padding : 0 !important;
}



.forgotBox {
    width : 100%;
    text-align: start;
    margin-top: -1.5em;
}

.signupfieldsBox {
    /* border :1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 70%;
}
.submitBtnBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 10%;
}
.forgotPassword {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 8%;
}


.question {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 50%;
    width : 100%;
    text-align: center;
    padding-top:.5em;
    font-weight: 500;
    color : #588157;
    font-size: 1.2em;
}

.loginSection {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
}
.loginBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 50%;
}

.forgot {
    width : auto;
    text-align: left;
    padding:.5em 0;
    font-weight: 500;
    cursor : pointer;
    color : #a3b18a;
}

.forgot:hover {
    color : #3a5a40;
}
