.container {
    /* background-color: red !important; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftScreen {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344e41;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .rightScreen {
    min-width : 50%;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
} */

.signupfieldsBox {
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 70%;
}

.loginWrapper {
    /* border: 1px solid red; */
    background: #fff;
    min-height: 56vh;
    max-height: 56vh;
    min-width: 25vw;
    max-width: 25vw;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding : 2em 1em;
    box-shadow: 0 0 14px 2px #1a1a1a;
}

.imgWrapper {
    flex-basis: 30%;
}

.imgWrapper img {
    height: 6em;
    width: 6em;
}

.buttonWrapper {
    /* border : 1px solid red;
    display: flex;
    justify-content: center; */
}